
<header class="container container-fluid">
   <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
         <h1 class="text-center"><a href="/">{{ site.title }}</a></h1>
         <div class="tagline col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <h2>一个由 <a href="/authors">社区驱动</a>，关注 <a href="https://swift.org/" target="_blank">Swift.org</a> 及开源社区最新动态的每周通讯。
               由 <a href="https://jessesquires.com" target="_blank">Jesse Squires</a> 发起，由 <a href="https://twitter.com/BasThomas" target="_blank">Bas Broek</a> 维护。 每两周逢周四发布。</h2>
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   {% include subscribe.html %}

   <hr>
</header>
